﻿
@model Student
<html>
<title></title>
<link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<body>

    <div class="container-fluid p-2 bg-primary text-white text-center">
        <h1>My First Bootstrap Page</h1>
        <p>Resize this responsive page to see the effect!</p>
    </div>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

        <div class="container-fluid">
            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/Student/Display">List Student</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Add Student</a>
                </li>

            </ul>
        </div>

    </nav>

    <div class="container mt-3">
        <h2>Striped Rows</h2>
        <p>The .table-striped class adds zebra-stripes to a table:</p>
        <ol class="list-group">
            <li class="list-group-item">Id <span class="float-end">@Model.Id</span></li>
            <li class="list-group-item">FirstName <span class="float-end">@Model.FirstName</span></li>
            <li class="list-group-item">LastName <span class="float-end">@Model.LastName</span></li>
            <li class="list-group-item">Email <span class="float-end">@Model.Email</span></li>
            <li class="list-group-item">Age <span class="float-end">@Model.Age</span></li>
        </ol>
    </div>



</body>
</html>
