﻿
@model Student

@{
    ViewBag.Header = " Training Institution";
    ViewData["Motor"] = "A Training Instute ";
}

    <div class="container mt-3">
        <h2>Striped Rows</h2>
        <p>The .table-striped class adds zebra-stripes to a table:</p>
        <ol class="list-group">
            <li class="list-group-item">Id <span class="float-end">@Model.Id</span></li>
            <li class="list-group-item">FirstName <span class="float-end">@Model.FirstName</span></li>
            <li class="list-group-item">LastName <span class="float-end">@Model.LastName</span></li>
            <li class="list-group-item">Email <span class="float-end">@Model.Email</span></li>
            <li class="list-group-item">Age <span class="float-end">@Model.Age</span></li>
        </ol>
    </div>

