@model Student
@{
    ViewBag.Header = "Elev8 Training Institution";
    ViewData["Motor"] = "A Training Instute Like No Other";
}
<div class="container mt-3">
    <h2>Add Student</h2>
    <form asp-controller="Student" asp-action="Edit" method="post">
        <div class="mb-3 mt-3">
            <label for="Id" class="form-label">Id:</label>
            <input asp-for="@Model.Id" class="form-control" readonly placeholder="Enter Id">
        </div>
        <div class="mb-3 mt-3">
            <label for="fname" class="form-label">First Name:</label>
            <input asp-for="@Model.FirstName" class="form-control" placeholder="Enter First Name">
        </div>
        <div class="mb-3 mt-3">
            <label for="lname" class="form-label">Last Name:</label>
            <input asp-for="@Model.LastName" class="form-control" placeholder="Enter Last Name">
        </div>
        <div class="mb-3 mt-3">
            <label for="email" class="form-label">Email:</label>
            <input asp-for="@Model.Email" class="form-control" placeholder="Enter email">
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Age:</label>
            <input asp-for="@Model.Age" class="form-control" placeholder="Enter age">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>